
<html>
<head>
    <title> MIU Resume Builder | About Us </title>
    <link rel="stylesheet" type="text/css" href="~/Content/About.css">


</head>

<body>
    <div id="main">

        <div class="about-section">
            <h1 style="text-align:center">About Us</h1>
            <p>
                Many people have difficulty creating the perfect resume.
                MIU Resume Builder, started with the idea of making simple resume creation possible for everyone.
                The resumes you create with MIU Resume Builder allow you to stand out best among other resumes.
                Resumes prepared with MIU Resume Builder increase recruitment rates.
            </p><br>
            <hr id="line">
            <h1> Our Mission </h1>
            <p>Preparing resumes with a high acceptance rate for you in one click</p>
        </div>

        <h1 style="text-align:center">About Team</h1>
        <p style="text-align:center"> As 3 bright-minded young people at Istanbul Kultur University, we laid the foundations of this site. </p>
        <div class="row">
            <div class="column">
                <div class="card">

                    <div class="container">
                        <h2>Mert Arslan Günaçtı</h2>
                        <p class="title">Programmer</p>
                        <p>Project Member</p>
                        <p>mertarslang@gmail.com</p>
                        <p><button onclick="location.href='mailto:mertarslang@gmail.com'" class="button">Contact</button></p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">

                    <div class="container">
                        <h2>İlayda Yaren Kaplankıran</h2>
                        <p class="title">Programmer</p>
                        <p>Project Leader</p>
                        <p>ilaydayk@gmail.com</p>
                        <p><button onclick="location.href='mailto:ilaydak@gmail.com'" class="button">Contact</button></p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">

                    <div class="container">
                        <h2>Umut Keskin</h2>
                        <p class="title">Programmer</p>
                        <p>Project Member</p>
                        <p>umutkeskin@gmail.com</p>
                        <p><button onclick="location.href='mailto:umutkeskin@gmail.com'" class="button">Contact</button></p>
                    </div>
                </div>
            </div>
        </div>


        <div class="clear"></div>

        <div class="map">
            <h3 id="para1">
                More than 1 Million users have already created their resumes with MIU Resume Builder.
                With MIU Resume Builder, you can quickly and easily create an outstanding and professional resume in 15 minutes.
            </h3>
            <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3011.551864115246!2d28.829941351278176!3d40.99129277920088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa35ee1fdc1b1%3A0x658a212e6b4359b5!2zVC5DLiDEsHN0YW5idWwgS8O8bHTDvHIgw5xuaXZlcnNpdGVzaQ!5e0!3m2!1str!2str!4v1667731577366!5m2!1str!2str"></iframe>
            <a target="_blank" href="https://www.iku.edu.tr"><img id="logofooter" src="~/Assets/logofooter.png" alt="logofooter"></a>
            <a target="_blank" href="~/Views/MIU/Home.cshtml"><img id="logo2" src="~/Assets/MIU5.png" alt="logo"></a>
        </div>

    </div>

</body>
</html>


