

<link rel="stylesheet"  type="text/css" href="~/Content/FAQ.css" />

<div class="container">
    <h1>Frequently Asked Questions</h1>
    <div class="accordion">
        <dl>
            <dt><a class="accordionTitle" href="#">How do I use the resume builder?</a></dt>
            <dd class="accordionItem accordionItemCollapsed">
                <p>To use the resume builder, simply follow the prompts to enter your personal and professional information. You can then choose from a variety of templates and customization options to create a professional-looking resume. Save and download your completed resume when you are finished. </p>
            </dd>
            <dt><a href="#" class="accordionTitle">Is there a cost to use the resume builder?</a></dt>
            <dd class="accordionItem accordionItemCollapsed">
                <p>No, the resume builder is free to use. You can create as many resumes as you like at no charge. </p>
            </dd>
            <dt><a href="#" class="accordionTitle">Can I save my progress and come back later to finish my resume?</a></dt>
            <dd class="accordionItem accordionItemCollapsed">
                <p>Yes, you can save your progress and come back later to finish your resume. Simply click the "Save" button at the top of the page and then enter your email address to receive a link to your saved resume. You can use this link to access and edit your resume at any time. </p>
            </dd>
        </dl>
    </div>
</div>
<script src="~/Scripts/FAQ.js"></script>