<html>
<head>
    <title> MIU Resume Builder | Home </title>
    <link rel="stylesheet" type="text/css" href="~/Content/Home.css">
</head>


<body>

    <div id="bodypart">


        <form id="start">
            <h1 class="ttt"> Create your professional Resume with MIU Resume Builder </h1>
            <p> Create your very own professional Resume and download it within few minutes.</p>
            <button onclick="start()" id="resume" class="blink">Create your Resume</button>
        </form>

        <form id="cv">
            <h3 class="ttt">What is a CV or resume?</h3>
            <p>
                CV or resume is an abbreviation of the Latin words 'curriculum vitae', which mean 'life course'. A professional resume provides a summary and a good overview of someone's life.<br>
                Your resume includes your education(s) and qualifications, work experience, skills, and important qualities. By means of your resume, your potential employer will be able to get a good picture of your skills,
                work experience, and knowledge quickly, to assess whether or not you fit the job, and therefore whether to offer you a job interview.
            </p>
        </form>

        <form id="cv2">

            <h3 class="ttt">What should I include in my curriculum vitae? </h3>
            <p>Your resume should only contain information relevant to your potential employer. So that means, what should be in your resume can differ per application. However, the bare minimum of details on your resume should at least include;<p>
                <h3 class="ttt">Personal details</h3>
            <p>Of course, your new employers should be able to contact you for a job interview. Therefore, you always start by mentioning your full name and email address and (mobile) phone number. Also mention your place of residence and address, as an employer might prefer an employee living nearby. In case a driver's license is required for the role, also mention it. In case you have a representative LinkedIn profile or personal website, you can include a link to it in the personal details section.</p>
            <h3 class="ttt">Work experience</h3>
            <p>
                In an a-chronological order, list your latest work experience. Start with your latest job and continue with the jobs you worked at before. Per job, give a short clear summary of your tasks, responsibilities and skills. Tip: try and list skills and responsibilities most relevant to the role you’re applying for!
                <h3 class="ttt">Education</h3>
            <p>
                Just like the previous overview of work experience, start of with your last study or highest level of education. Also name the school or institution where you studied, the starting date and date of graduation.<br>
                The aforementioned parts should be present on any resume, at any application. However, you if you really want to stand out from other applicants, it is strongly advisable to put in a little more effort. You want potential employers to see that you are the best fit for the job. Therefore, consider adding the following sections to your resume;
            </p>
            <h3 class="ttt">Personal statement or resume profile</h3>
            <p>Most modern resumes include a short introductory paragraph called personal statement or profile. In this paragraph, which is read by most recruiters, you will get the chance to sell yourself in a few sentences; the kind of role you are looking for, your qualities and ambitions.</p>
            <h3 class="ttt">Competencies and skills</h3>
            <p>All jobs are different of course. However, during your career, you gain competencies and skills which are transferable. These strong personal traits are gained through experience and will help you execute any other job more efficiently.</p>
            <h3 class="ttt">Courses and work-related trainings</h3>
            <p>Some employers offer courses or trainings to improve certain skills of their employees. If you have followed any and they’ve improved skills or competencies that are relevant for your new job, make sure to include them. Make sure to mention whether you earned a diploma or certificate!</p>
            <h3 class="ttt">Activities</h3>
            <p>You can also gain certain skills and competencies in a non-professional setting. For instance by doing voluntary work as a coach, trainer or accountant for a club or organization. If you have done these activities during your study, they are refered to as an extracurricular activity. Make sure to list them including the skills you gained.</p>
        </form>

    </div>


    <script src="~/Scripts/Resume.js"></script>
</body>
</html>